.b-app
  position: absolute;
  top: 0;
  bottom: 0
  left: 0;
  width: playlist-width;
  overflow-x: hidden;

  background-color: bg-prim-color;
  border-right: 1px solid border-bottom-color;

  box-shadow: 0 0 1px rgba(255, 255, 255, .3);

  .b-app__title
    height: toolbar-height-normal - 1;
    line-height: 32px;

    text-align: center;
    color: #111;
    font-weight: bold;
    font-size: base-font-size*1.1;

    background: linear-gradient(top, #3a3a3a, #212121);
    border-bottom: 1px solid border-bottom-color;
    text-shadow: 0 0 1px rgba(255, 255, 255, .2);

  .b-app__search
    position: relative;
    height: toolbar-height-big - 1;

    border-bottom: 1px solid border-bottom-color;

  .b-app__playlists
    position: absolute;
    top: toolbar-height-big + toolbar-height-normal;
    bottom: toolbar-height-normal;

    width: 10000px;
    transition: margin-left 0.5s ease

    vertical-align: top;

  .b-app__selector
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(top, #3a3a3a, #212121);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);

    .b-toolbar-button
      margin: 6px 10px;
      float: left;

    .b-toolbar-button_info
      float: right;
