.b-autocomplete
  position: absolute;
  width: 280px;
  left: 10px;
  top: toolbar-height-big;
  padding: 0;
  margin: 0;
  background-color: bg-prim-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  z-index: 100;

  .b-autocomplete__item
    height: 40px;
    line-height: 40px;
    list-style-type: none;

    border-top: 1px solid border-top-color;
    border-bottom: 1px solid border-bottom-color;

    cursor: pointer;

    .b-track__artwork__pic
      width: 20px;
      height: 20px;

      float: left;

      margin: 10px 15px;

    .b-track__artwork__placeholder
      display: block;
      float: left;
      width: 18px;
      height: 18px;
      margin: 10px 15px;

      border: 1px solid border-bottom-color;
      border-radius: 1px;
      box-shadow: 0 0 1px rgba(255, 255, 255, .5);

    .b-track__name
      display: block;
      margin: 0 10px 0 50px;
      overflow: ellipsis;
      font-size: (base-font-size/1.2);
      color: font-sec-color;

      .b-track__author::after
        content: ' — ';

  .b-autocomplete__item_active
    background: linear-gradient(top, #212121, #191919);
