.b-autocomplete
  position: absolute;
  width: 300px;
  left: 0 ;
  top: 45px;
  padding: 0;
  margin: 0;
  background-color: bg-prim-color;
  z-index: 100;

  .b-autocomplete__item
    height: 40px;
    line-height: 40px;
    list-style-type: none;

    border-top: 1px solid border-top-color;
    border-bottom: 1px solid border-bottom-color;

    .ui-menu-item-artwork
      width: 20px;
      height: 20px;

      float: left;

      margin: 10px 15px;

    .ui-menu-item-author
      display: none;


    .ui-menu-item-title
      display: block;
      margin-left: 50px;

      font-size: (base-font-size/1.2);
      color: font-sec-color;


    .ui-corner-all
      overflow: hidden;
