.b-input
  line-height: 0;
  margin-bottom: 5px;

  .b-input__text
  .b-input__area
    margin: 0;
    padding: 3px 5px;
    font: base-font;
    border: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);

  .b-input__button
    margin: 0;
    font: base-font;

  .b-input__text:focus
    outline: none;

.b-input_100
  margin-right: 10px;

  .b-input__text
  .b-input__area
    width: 100%;

