.b-playlist
  display: inline-block;
  vertical-align: top;

  .b-playlist__tracks
    overflow: hidden;
    width: 300px;

  .b-playlist__tracks__i
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0 15px 0 0;
    width: playlist-width;
    overflow-y: scroll;
