.b-playlist
  display: inline-block;

  .b-playlist__tracks
    overflow: hidden;
    width: 300px;

  .b-playlist__tracks__i
    margin: 0;
    padding: 0 15px 0 0;
    height: 360px;
    width: playlist-width;
    overflow-y: scroll;
