.b-playlist-form
  float: right;
  position: relative;
  width: 40px;
  height: 32px;
  line-height: 32px;

  .b-playlist-form__fields
    position: absolute;
    display: none;
    padding: 10px;
    width: playlist-width - 20;
    left: -(playlist-width - 40);
    bottom: 32px;

    background: bg-prim-color;
    border-top: 1px solid border-top-color;

  .b-playlist-form__button
    cursor: pointer;
    display: block;
    height: 18px;
    width: 18px;
    margin: 6px 10px;

    line-height: 16px;
    text-align: center;

    font-size: base-font-size*1.2;
    font-weight: bold;
    color: font-sec-color;
    text-shadow: 0 0 2px #000;

    background: linear-gradient(top, #3a3a3a, #212121);
    border-radius: 3px;
    border: 1px solid border-bottom-color;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 1px rgba(255, 255, 255, .3);

.b-playlist-form .b-playlist-form__button:active
.b-playlist-form_shown .b-playlist-form__button
  background: linear-gradient(top, #303030, #1A1A1A);


.b-playlist-form_shown .b-playlist-form__fields
  display: block;
