.b-playlist-form
  float: right;
  position: relative;
  width: 40px;
  height: 32px;
  line-height: 32px;

  .b-playlist-form__fields
    position: absolute;
    display: none;
    padding: 10px;
    width: playlist-width - 20;
    left: -(playlist-width - 40);
    bottom: 32px;

    background: bg-prim-color;
    border-top: 1px solid border-top-color;

  .b-toolbar-button
    margin: 6px 10px;

.b-playlist-form_shown .b-toolbar-button
  background: linear-gradient(top, #303030, #1A1A1A);

.b-playlist-form_shown .b-playlist-form__fields
  display: block;
