.b-sc-button
  position: relative;
  overflow: hidden;
  width: sc-button-size;
  height: sc-button-size;
  background: #fa892a;
  background: linear-gradient(top, #fa892a, #f93402);
  border-radius: (sc-button-size/2);
  cursor: pointer;

.b-sc-button:hover

  background: #fa6d01;
  background: linear-gradient(top, #fa6d01, #f92100);
  box-shadow: 0 0 3px rgba(0,0,0,.5) 

.b-sc-button::before
.b-sc-button::after
  content: '';
  position: absolute;

.b-sc-button_play::before
  width: (sc-button-size/2.5);
  height: (sc-button-size/2.5);
  left: (sc-button-size/3.3);
  top: (sc-button-size/3.3);

  background-color: #FFF;

.b-sc-button_pause::before
.b-sc-button_pause::after
  width: (sc-button-size/8);
  height: (sc-button-size/2.5);
  top: (sc-button-size/3.3);
  left: (sc-button-size/2.85);

  background-color: #FFF;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);

.b-sc-button_pause::after
  right: (sc-button-size/2.85);
