.b-toolbar-button
    cursor: pointer;
    display: block;
    height: 18px;
    width: 18px;

    line-height: 19px;
    text-align: center;

    font-size: base-font-size;
    font-weight: bold;
    color: font-sec-color;
    text-shadow: 0 0 2px #000;

    background: linear-gradient(top, #3a3a3a, #212121);
    border-radius: 3px;
    border: 1px solid border-bottom-color;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 1px rgba(255, 255, 255, .3);

.b-toolbar-button_info
  font-family: 'Courier New', monospace;

.b-toolbar-button_bookmark
  font-size: (base-font-size/1.4);
  font-size-adjust: .9;

.b-toolbar-button:hover
  color: lighten(font-sec-color, 30%);

.b-toolbar-button:active
  background: linear-gradient(top, #303030, #1A1A1A);
