.b-track
  height: 70px;
  padding: 0;
  margin: 9;

  border-top: 1px solid border-top-color;
  border-bottom: 1px solid border-bottom-color;

  color: font-prim-color;
  list-style-type: none;

  .b-track__artwork
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    line-height: 0;

    .b-sc-button
      display: none;
      left: 5px;
      top: -45px;

    .b-track__artwork__pic
      width: 50px;
      height: 50px;

    .b-track__artwork__placeholder
      display: block;
      width: 48px;
      height: 48px;
      border: 1px solid border-bottom-color;
      border-radius: 3px;
      box-shadow: 0 0 1px rgba(255, 255, 255, .5);


  .b-track__author
  .b-track__title
    display: block;
    margin-left: 70px;
    overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);

  .b-track__author
    margin-top: 9px;

    color: font-sec-color;
    font-size: 11px;


.b-track:hover .b-track__artwork .b-sc-button
  display: block;
.b-track:hover .b-track__artwork .b-sc-button_pause
  display: none;
.b-track_current .b-track__artwork .b-sc-button_pause
  display: block;
.b-track_current:hover .b-track__artwork .b-sc-button_play
  display: none;
