.b-track
  height: 70px;
  padding: 0;
  margin: 0;
  width: playlist-width;

  border-top: 1px solid border-top-color;
  border-bottom: 1px solid border-bottom-color;

  color: font-prim-color;
  list-style-type: none;

  .b-track__artwork
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    line-height: 0;

    .b-track__artwork__pic
      width: 50px;
      height: 50px;

    .b-track__artwork__placeholder
      display: block;
      width: 48px;
      height: 48px;
      border: 1px solid border-bottom-color;
      border-radius: 3px;
      box-shadow: 0 0 1px rgba(255, 255, 255, .5);

  .b-track__author
  .b-track__title
    display: block;
    margin: 0 15px 0 70px;
    overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);

  .b-track__author
    margin-top: 9px;

    color: font-sec-color;
    font-size: 11px;

  .b-track__remove
    float: right;
    position: relative;
    display: none;
    margin: 7px 5px 0 0;
    width: 16px;
    height: 16px;
    line-height: 13px;

    cursor: pointer;
    font-size: 0;

    border: 1px solid border-bottom-color;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 1px rgba(255, 255, 255, .3);
    border-radius: 10px;

  .b-track__remove::before
  .b-track__remove::after
    content: '';
    position: absolute;

    top: 4px;
    left: 7px;
    width: 2px;
    height: 8px;

    background: font-sec-color;

    box-shadow: 0 0 6px #000;

    transform: rotate(-45deg);

  .b-track__remove::after
    top: 7px;
    left: 4px;
    width: 8px;
    height: 2px;
    box-shadow: none;

  .b-track__remove:active
    background-color: rgba(0, 0, 0, .1);

  .b-track__remove:hover
    color: lighten(font-sec-color, 30%);

  .b-sc-button
    display: none;
    left: 5px;
    top: -45px;

.b-track:hover .b-sc-button_play
.b-track:hover .b-track__remove
.b-track_paused .b-sc-button_play
.b-track_playing .b-sc-button_pause
  display: block;

.b-track_paused .b-sc-button.b-sc-button_pause
.b-track_playing .b-sc-button.b-sc-button_play
  display: none;
