{{! <div class="b-app"> }}
<div class="b-track-form">
    <div class="b-input b-input_search">
        <input class="b-input__text" name="search" type="text"/>
    </div>
</div>
<div class="b-app__playlists"></div>

<div class="b-app__selector">
  <form class="b-playlist-form">
    <div class="b-playlist-form__fields">
      <div class="b-input">
        <input class="b-input__text" name="title" type="text" placeholder="Title"/>
      </div>
      <div class="b-input">
        <textarea class="b-input__area" name="description" placeholder="Description"></textarea>
      </div>
      <input type="submit" value="Add"/>
    </div>
    <div class="b-playlist-form__button">+</div>
  </form>
  <ul class="b-playlist-selector">
    <li class="b-playlist-selector__item">playlist1</li>
    <li class="b-playlist-selector__item">playlist2</li>
    <li class="b-playlist-selector__item">playlist3</li>
  </ul>
</div>

<div class="b-input b-input_bookmarklet g-hidden">
  <input class="b-input__text" type="text"/>
</div>
{{! </div> }}
