{{! <div class="b-app"> }}
<div class="b-app__title">Scaple</div>
<div class="b-track-form">
    <div class="b-input b-input_search">
        <input class="b-input__text" placeholder="Add track" name="search" type="text"/>
    </div>
</div>
<div class="b-app__playlists js-app-playlists"></div>

<div class="b-app__selector">
    <form class="b-playlist-form">
        <div class="b-playlist-form__fields">
            <div class="b-input">
                <input class="b-input__text" name="title" type="text" placeholder="Title"/>
            </div>
            <div class="b-input">
                <textarea class="b-input__area" name="description" placeholder="Description"></textarea>
            </div>
            <input type="submit" value="Add"/>
        </div>
        <div title="Add playlist" class="b-playlist-form__button">+</div>
    </form>
    <ul class="b-playlist-selector">
        {{#each playlists}}
        <li title="{{this}}" class="b-playlist-selector__item js-playlist-selector">{{this}}</li>
        {{/each}}
    </ul>
</div>

<div class="b-input b-input_bookmarklet g-hidden">
    <input class="b-input__text" type="text"/>
</div>
{{! </div> }}
