{{! <div class="b-app"> }}
<div class="b-app__title">Scaple</div>
<div class="b-track-form">
    <div class="b-input b-input_search b-input_100">
        <input class="b-input__text" placeholder="Add track" name="search" type="text"/>
    </div>
</div>
<div class="b-app__playlists js-app-playlists"></div>

<div class="b-app__selector">
    <div title="Remove playlist" class="b-toolbar-button js-playlist-remove">×</div>
    <form class="b-playlist-form js-playlist-form">
        <div class="b-playlist-form__fields">
            <div class="b-input b-input_100">
                <input class="b-input__text" name="title" type="text" placeholder="Title"/>
            </div>
            <div class="b-input b-input_100">
                <textarea class="b-input__area" name="description" placeholder="Description"></textarea>
            </div>
            <div class="b-input">
                <button class="b-input__button" type="submit">Add</button>
            </div>
        </div>
        <span title="Add playlist" class="b-toolbar-button js-playlist-add">+</span>
    </form>
    <ul class="b-playlist-selector js-playlist-selector-root">
        {{#each playlists}}
        <li title="{{this}}" class="b-playlist-selector__item js-playlist-selector">{{this}}</li>
        {{/each}}
    </ul>
</div>

<div class="b-input b-input_bookmarklet g-hidden">
    <input class="b-input__text" type="text"/>
</div>
{{! </div> }}
