{{! <div class="b-app"> }}
<div class="b-app__playlists"></div>
<form class="b-playlist-form">
    <label>Title <input name="title" type="text"/></label>
    <label>Description <input name="description" type="text"/></label>
    <input type="submit" value="Add"/>
</form>
<input class="b-input_bookmarklet" type="text"/>
{{! </div> }}
